# dashboards
tennis_post_ETL.pbix
tennis analysis.pbix
22-09-2025 EDA in excel.xlsx

# datasets (raw)
atp_matches_doubles_[0-9][0-9][0-9][0-9].csv
atp_matches_futures_[0-9][0-9][0-9][0-9].csv
atp_matches_[0-9][0-9][0-9][0-9].csv
atp_matches_qual_chall_[0-9][0-9][0-9][0-9].csv
atp_rankings_[0-9][0-9]s.csv
atp_rankings_[0-9][0-9][0-9][0-9].csv
atp_matches_amateur.csv

# enrichment
static_data

# transformed
check_atp*
atp_transformed/2024.csv
atp_transformed/2000-2024 with covid.csv
atp_player_stats/player_stats.csv
2000-2024 with player stats.csv
2000-2024 without player stats.csv
player_elos.csv
remaining.

# misc
golbert_notes.txt
.env